<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="homme">
  <select id ="selectAll" resultType="com.homme.model.entity.HommeVo">
    select * from jean order by jnum asc
  </select>
  <select id ="selectOne" resultType="com.homme.model.entity.HommeVo">
  	select * from jean where jname = #{jname}
  </select>
  
</mapper>